body {
    font-family: "Mali";
    background-color: #00101f;
    background-image: radial-gradient(#000820, #000000);
    color: #EDEDED;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Pangolin";
    text-align: center;
}

h1 {
    font-size: 50pt;
}

h2 {
    margin: 0.1em;
}

header {
    text-align: center;
    color: #EDEDED;
}

header img {    
    width: 125px;
}

/* Hero Section */

#hero, footer {
    color: #EDEDED;
    background-color: #002E59;
    background-image: radial-gradient(#000c35, #000000);
    font-size: 30pt;
    font-variant: small-caps;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 110px;
    border:15px #000c35 groove;
    border-radius: 20px;
}

#hero img {
    margin-top: 20px;
    width: 4em;
    border-radius: 30px;
    border:15px black groove;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

/* Bio Section */

#bio {
    font-size: 20pt;
    text-align: center;
    padding: 2px;
}

#bio a:link, footer a:link {
    color: #ffffff;
}

#bio a:visited, footer a:visited {
    color: #00196d;
}

#bio a:hover, footer a:hover{
    color: #003cff;
}

#bio a:active, footer a:active {
    color: #585858;
}

/* Hobbies and Interests Section */

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: #EDEDED;
    font-size: 35pt;
    background-color: #002E59;
    border: 20px groove #000c35;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    background-image: radial-gradient(#000c35, #000000);
}

#hobbies h2 {
    text-align: center;
    text-shadow: 4px 4px #000000;
}

#hobbies ul li{
    font-family:"Pangolin";
    font-variant: small-caps;
    text-shadow: 3px 3px #000000;
    list-style: none;
}

#hobbies p {
    font-size: 20pt;
}

#hobbies ul li::first-letter {
    font-size: 50pt;
}

/* Gallery Section */

#gallery {
    font-family:"Pangolin";
    text-shadow: 4px 4px #000000;
    border: 20px groove #000c35;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 5px;
    background-image: radial-gradient(#000c35, #000000);
}

#gallery h2 {
    font-size: 50pt;
    text-align: center;
}

#gallery img {
    border: 15px ridge black;
    max-width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

#gallery figure {
    text-align: center;
    font-size: 30pt;
}

/* Article Section */

#lit {
    color: #EDEDED;
    border-top: 15px groove #000c35;
    border-bottom: 15px groove #000c35;
    border-radius: 3em;
    margin: 25px 5px;
}

#lit h2 {
    color: #EDEDED;
    font-size: 50pt;
    font-variant: small-caps;
    text-shadow: 2px 2px black;

}

#lit p {
    font-size: 15pt;
    line-height: 1.85;
}

#lit p:first-child::first-letter {
    color: #000000;
    font-size: 25pt;
    font-family: "Pangolin";
    border: 6px groove #000000;
    border-radius: 0.3em;
    float: none;
    padding: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-image: radial-gradient(#003cff, #000c35);
    box-shadow: 4px 4px 4px #000c35;
}

.blog-picture-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-picture-set img {
    margin: 0.5em;
    width:100%;
    max-width: 350px;
    height: auto;
    border: 10px #000c35 groove;
}

.blog-picture-set figcaption {
    text-align: center;
    margin: 0.5em;
    font-size: 25pt;
}

/* Article Figure Hover Styling Secion */

/* Opacity Figure */

.opacity-fig img {
    transition: opacity 1s ease-in 500ms;
}

.opacity-fig img:hover {
    opacity: 0.1;
}

/* Translate Figure */

.translate-fig img {
    transition: transform 250ms ease-in-out;
}

.translate-fig img:hover {
    transform: translate(10em, 1em);
}

/* Scaling Shrinking Figure */

.scale-shrink-fig img {
    transition: transform 1s ease-in-out;
}

.scale-shrink-fig img:hover {
    transform: scale(0.8, 0.5);
}

/* Scaling Enlarging Figure */

.scale-enlarge-fig img {
    transform: scale(0.8, 0.5);
    transition: transform 100ms ease-in-out;
}

.scale-enlarge-fig img:hover {
    transform: scale(1, 1);
}

/* Grayscale Figure */

.grayscale-fig img {
    transition: filter 400ms ease-in-out;
}

.grayscale-fig img:hover {
    filter: grayscale(100%)
}

/* Sepia Grayscale Figure */

.sepia-fig img {
    transition: filter 400ms ease-in-out;
}

.sepia-fig img:hover {
    filter: sepia(100%);
}

/* Saturation Figure */

.contrast-fig img {
    transition: filter 400ms ease-in-out;
}

.contrast-fig img:hover {
    filter: saturate(300%);
}

/* Color Inversion Figure */

.invert-fig img {
    transition: filter 400ms ease-in-out;
}

.invert-fig img:hover {
    filter: invert(100%);
}

/* Multiple Effects Figure */

.multiple-fig img {
    transform: scale(0.8, 0.8);
    transition: 400ms ease-in-out;
}

.multiple-fig img:hover {
    transform: scale(1, 1);
    transform: translate(10em, 1em);
    filter: saturate(300%);
}


/* Video Style */

#video {
    text-align: center;
    font-family:"Pangolin";
    text-shadow: 4px 4px #000000;
    border: 20px groove #000c35;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 5px;
    background-image: radial-gradient(#000c35, #000000);
    
}

#video h2 {
    font-size: 50pt;
    text-shadow: 4px 4px black;
}

#video figcaption {
    padding: 0.8em;
    font-size: 40pt;
}

#video-box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: 10px groove black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

/* Contact Form Style */

#form-elements {
    display: grid;
    row-gap: .5em;
}

#contact {
    font-size: 1.4em;
    padding: 1rem;
    max-width: 800px;
    margin: 2rem auto;
    color: #EDEDED;
    border: 20px groove #000c35;
    border-radius: 20px;
    background-color:#000c35;
    background-image: radial-gradient(#000c35, #000000);
}

fieldset {
    border: 6px groove #000c35;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    font-size: 1.4em;
    color: #EDEDED;
    background-color: #000c35;
    border: 4px groove #000c35;
    border-radius: 10px;
    padding: 0.5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    color: white;
    background-color: black;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border: 5px groove #003cff;
    border-radius: 15px;
}

#contact input:focus, #contact textarea:focus {
    border: 5px groove black;
}

#contact input:hover, #contact textarea:hover {
    border: 5px groove #7696ff;
}

#contact textarea {
    resize: none;
}

#contact h2 {
    font-size: 4em;
    font-variant: small-caps;
    text-shadow: 4px 4px black;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact label {
    font-size: 1em;
}

#contact button {
    color: #EDEDED;
    background-color: #003cff;
    border: 5px groove #000c35;
    max-width: 200px;
    width: 50%;
    justify-self: center;
    transition-duration: 0.2s;
}

#contact button:hover {
    color: #a1a1a1;
    background-color: #000c35;
    border: 5px ridge black;
}

/* Footer Style */

footer {
    font-size: 20pt;
}

footer a:link {
    color: #ffffff;
}

footer a:visited {
    color: #00196d;
}

footer a:hover{
    color: #003cff;
}

footer a:active {
    color: #585858;
}

/* Tablet Size */

@media screen and (min-width: 60em) {
   figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
   }

   figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
    height: 100%;
   }

   figure img {
    width: 100%;
   }

   #video-box {
    margin-bottom: 1rem;
   }
}

#lit div {
    max-width: 100%;
}

/* Large Screen Size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    .picture-container figcaption {
        opacity: 0;
        transition: 400ms ease-in-out;
    }

    .picture-container:hover figcaption {
        opacity: 1;
    }

    #gallery img {
        border: 10px ridge #000000;
        box-shadow: none;
        transition: 250ms ease-in-out;
    }

    #gallery img:hover {
        border: 15px ridge #000c35;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    }

    #video-box iframe {
        margin-bottom: 10px;
       }
}