body {
    font-family: "Mali";
    background-color: #000000;
    color: #96DDF0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Pangolin";
}

h1 {
    font-size: 50pt;
}

h2 {
    margin: 0.1em;
}

header {
    text-align: center;
    color: #52D6FF;
}

header img {
    width: 125px;
}

/* Hero Section */

#hero, footer {
    color: #000000;
    background-color: #52D6FF;
    font-size: 30pt;
    text-align: center;
    padding: 10px;
    border: 10px #00799E solid;
}

#hero img {
    width: 400px;
}

/* Bio Section */

#bio {
    font-size: 20pt;
    text-align: center;
    padding: 2px;
}

#bio a:link {
    color: #96DDF0;
}

#bio a:visited {
    color: #52D6FF;
}

#bio a:hover {
    color: #00799E;
}

#bio a:active {
    color: #FFFFFF;
}

/* Hobbies and Interests Section */

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: #000000;
    font-size: 40pt;
    background-color:#52D6FF;
    border: 20px ridge #00799E;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    background-image:radial-gradient(#29afd8, #78e0ff);
}

#hobbies h2 {
    text-align: center;
    text-shadow: 4px 4px #96DDF0;
}

#hobbies ul li{
    font-family:"Pangolin";
    font-variant: small-caps;
    text-shadow: 3px 3px #96DDF0;
}

#hobbies p {
    font-size: 20pt;
    font-weight: 900;
}

#hobbies ul li::first-letter {
    font-size: 50pt;
}

/* Gallery Section */

#gallery {
    font-family:"Pangolin";
    text-shadow: 4px 4px #000000;
    border: 20px groove #00799E;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 5px;
    background-image: radial-gradient(#00799E, #000000);
}

#gallery h2 {
    font-size: 50pt;
    text-align: center;
}

#gallery img {
    border: 15px ridge black;
    max-width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
}

#gallery figure {
    text-align: center;
    font-size: 30pt;
}

/* Article Section */

#lit {
    color: #34BFEB;
    border-top: 15px groove #00799E;
    border-bottom: 15px groove #00799E;
    border-radius: 3em;
    margin: 25px 5px;
}

#lit h2 {
    color: #00799E;
    font-size: 50pt;
    font-variant: small-caps;
    text-shadow: 2px 2px #34BFEB;

}

#lit p {
    font-size: 15pt;
    line-height: 1.85;
}

#lit p:first-child::first-letter {
    color: #000000;
    font-size: 25pt;
    font-family: "Pangolin";
    border: 6px groove #000000;
    border-radius: 0.3em;
    float: none;
    padding: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-image: radial-gradient(#52D6FF, #00799E);
    box-shadow: 4px 4px 4px #00799E;
}

/* Tablet Size */

@media screen and (min-width: 60em) {
   figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
   }

   figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
   }

   figure img {
    width: 100%;
   }
}

#lit div {
    max-width: 100%;
    columns: 20rem;
}

/* Large Screen Size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

}