body {
    font-family: "Mali";
    background-color: #000000;
    color: #96DDF0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Pangolin";
}

h1 {
    font-size: 50pt;
}

header {
    text-align: center;
    color: #52D6FF;
}

header img {
    width: 125px;
}

/* Hero Section */

#hero, footer {
    color: #000000;
    background-color: #52D6FF;
    font-size: 30pt;
    text-align: center;
    padding: 10px;
    border: 10px #00799E solid;
}

#hero img {
    width: 400px;
}

/* Bio Section */

#bio {
    font-size: 20pt;
    text-align: center;
    padding: 2px;
}

/* Hobbies and Interests Section */

#hobbies {
    color: #000000;
    font-size: 40pt;
    background-color:#52D6FF;
    border: 20px ridge #00799E;
    border-radius: 20px;
    padding: 5px;
    margin: 20px 5px;
    background-image:radial-gradient(#00799E, #34BFEB);
    
}

#hobbies h2 {
    text-align: center;
    text-shadow: 4px 4px #96DDF0;
}

#hobbies ul li{
    font-family:"Pangolin";
    font-variant: small-caps;
    text-shadow: 3px 3px #96DDF0;
}

#hobbies p {
    font-size: 20pt;
    font-weight: 900;
}

#hobbies ul li::first-letter {
    font-size: 50pt;
}

/* Gallery Section */

#gallery {
    font-family:"Pangolin";
    text-shadow: 4px 4px #000000;
    border: 20px groove #00799E;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 5px;
    background-image: radial-gradient(#00799E, #000000);
}

#gallery h2 {
    font-size: 50pt;
    text-align: center;
}

#gallery img {
    border: 15px ridge black;
    max-width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
}

#gallery figure {
    text-align: center;
    font-size: 30pt;
}

/* Article Section */

#lit {
    color: #34BFEB;
    border-top: 15px groove #00799E;
    border-bottom: 15px groove #00799E;
    border-radius: 3em;
    margin: 25px 5px;
}

#lit h2 {
    color: #00799E;
    font-size: 50pt;
    font-variant: small-caps;
    text-shadow: 2px 2px #34BFEB;

}

#lit p {
    font-size: 15pt;
    line-height: 1.85;
}

#lit p::first-letter {
    color: #000000;
    font-size: 25pt;
    font-family: "Pangolin";
    border: 6px groove #000000;
    border-radius: 0.3em;
    float: none;
    padding: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-image: radial-gradient(#52D6FF, #00799E);
    box-shadow: 4px 4px 4px #00799E;
}